.form {
  display: flex;
  flex-direction: column;

  width: 420px;
  margin: 100px auto;
  padding: 35px 20px;

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.button {
  margin-top: 40px;
}
