.taskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 8px;
  padding: 4px 8px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 6px;

  transition: transform 75ms ease 0s;
}

.menuBlock {
  display: flex;
  flex-direction: row;
}

.menu {
  cursor: pointer;
}
